@import './_variables'

*
    box-sizing border-box
    margin 0
    padding 0

body
    font-family 'Poppins', sans-serif
    color #2d3748
    background #fff

@import './layout/_header'
@import './layout/_footer'
@import './components/_hero'
@import './components/_course-card'
@import './components/_sidebar'
@import './components/_contact-form'